@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-weight: 300;
}

html {
    font-size: 62.5%;
}

.main-div {
    width: 100vw;
    min-height: 100vh;
    display: inline-block;
    display: grid;
    place-items: center;
    background-color: #86BBD8;
}

.inner-div {
    width: 42vw;
    background-color: #fff;
    padding: 3rem 8rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem -0.7rem rgba(0, 0, 0, 0.4);
}

.inner-div h2 {
    font-size: 2.3rem;
    font-weight: 400;
    margin: 1rem 0 4rem 0;
}

.inner-div li {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    list-style: none;
}

input {
    cursor: pointer;
}

#submit,
.btn {
    padding: 0.5rem 3rem;
    outline: none;
    font-size: 1.5rem;
    font-size: 400;
    display: block;
    margin: auto;
    outline: none;
    border: none;
    text-transform: uppercase;
    color: black;
    border-color: #717568;
    margin-top: 4rem;
}

#submit:hover {
    background-color: antiquewhite;
    cursor: pointer;
}

#showScore {
    background-color: #C5C5C5;
    margin-top: 3rem;
    padding: 3rem 4rem;
    box-shadow: 0 1rem -0.7 rgba(0, 0, 0, 0.4);
}

#showScore h3 {
    font-size: 3rem;
    text-align: center;
}

#showScore .btn {
    margin-top: 2rem;
    background-color: #E9DF00;
    color: black;
    cursor: pointer;
}

#showScore .btn:hover {
    background-color: #F9C784;
    color: black;
}


.scoreArea {
    display: none;
}